{% extends "base.html" %}
{% load staticfiles %}
{% load custom_markdown %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'myblog/css/article_detail.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<dir class="container" id="container">
	<article id="{{ article.id }}" class="article article-type-post show" itemprop="blogPost" itemscope="">
		<div class="article-inner">
			<header class="article-header">
				<h1 class="article-title" itemprop="name">{{ article.title }}</h1>
			</header>
			<div class="article-info article-info-post">
				<div class="article-tag tagcloud">
					<ul class="article-tag-list">
						<li class="article-tag-list-item">
							<a href="#">标签：</a>
						</li>
						{% for tag in article.tag.all %}
						<li class="article-tag-list-item">
							<a href="#">{{ tag.tag_name }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="article-entry">
			{{ article.content|custom_markdown }}
			</div>
		</div>
	</article>
</dir>
{% endblock %}