{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
完善个人信息
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'myblog/css/improve_userinfo.css' %}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'myblog/js/improve_userinfo.js' %}"></script>
<script type="text/javascript" src="{% static 'myblog/js/laydate/laydate.js' %}"></script>
<script type="text/javascript" src="{% static 'myblog/js/citypick/area.js' %}"></script>
<script type="text/javascript" src="{% static 'myblog/js/improve_userinfo.js' %}"></script>
{% endblock %}

{% block content %}
<div class="bg_box">
    <div class="register_box">
        <h1>请先完善个人信息</h1><hr>
        <form name="registerForm" method="post" action="{% url 'myblog:do_create_userinfo' %}">
            {% csrf_token %}
            <table>
            	<tr align="center">
            		<td colspan="2"><span class="alert">{{ error_message }}</span></td>
            	</tr>
                <tr align="center">
                    <td><label for="nickname">昵称：</label></td>
                    <td><input type="text" name="nickname" id="nickname" class="nickname"/></td>
                </tr>
                <tr align="center">
                    <td><label for="realname">实名：</label></td>
                    <td><input type="text" name="realname" id="realname" class="realname"/></td>
                </tr>
                <tr align="center">
                    <td><label for="gender">性别：</label></td>
                    <td>
                    	<input type="radio" name="gender" id="gender" class="gender" value="M" checked="checked">男</input>
                    	<input type="radio" name="gender" id="gender" class="gender" value="F">女</input>
                    </td>
                </tr>
                <tr align="center">
                    <td><label for="birthday">生日：</label></td>
                    <td><input type="text" name="birthday" id="birthday" class="birthday laydate-icon" value="2016-01-01"/></td>
                </tr>
                <tr align="center">
                    <td><label for="s_province">省份：</label></td>
                    <td><select id="s_province" name="s_province" class="s_province"></select></td>
                </tr>
                <tr align="center">
                    <td><label for="s_city">城市：</label> </td>
                    <td><select id="s_city" name="s_city" class="s_city"></select></td>
                </tr>
                <tr align="center">
                    <td><label for="description">简述：</label> </td>
                    <td><textarea rows="7" cols="38" maxlength="600" placeholder="300字以内" value="" name="description" id="description" class="description"></textarea></td>
                </tr>
                <tr align="center">
                    <td colspan="2"><input type="submit" value="立即注册" class="submit_btn" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}