{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
个人主页
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'myblog/css/user_home.css' %}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'myblog/js/user_home.js' %}"></script>
{% endblock %}

{% block content %}
<dir class="container" id="container">
	<div class="main" id="main">
		{% if article_list %}
			{% for article in article_list %}
			<section class="post" id="post" itemprop="blogitem" itemscope="">
	    		<a href="{% url 'myblog:article_detail' article.id %}" title="{{ article.title }}" itemprop="url">
	    			<h1 itemprop="title">{{ article.title }}</h1>
	       			<p itemprop="category" >{{ article.category }}</p>
	    			<time datetime="{{ ariticle.date_time }}" itemprop="datePublished">{{ article.date_time }}</time>
	  			</a>
  			</section>
  			{% endfor %}
  		
	  		{% if article_list.object_list and article_list.paginator.num_pages > 1 %}
	  		<nav id="page-nav">
				{% if article_list.has_previous %}	
			 	   <a class="extend prev" rel="prev" href="?page={{ article_list.previous_page_number }}">&laquo; 上一页</a>
			    {% else %}
				    <a class="prev_disable_btn" rel="prev" href="javascript:void(0);">&laquo; 上一页</a>
			    {% endif %}
			    {% if article_list.paginator.num_pages < 5 %}
				    {% for page in article_list.paginator.page_range %}
				    	{% if page = article_list.number %}
				    	<span class="page-number current">{{ page }}</span>
				    	{% else %}
				    	<a class="page-number" href="?page={{ page }}">{{ page }}</a>
				    	{% endif %}
				    {% endfor %}
			    {% else %}
			    	{% if article_list.number = 1 %}
				    	<span class="page-number current">{{ article_list.number }}</span>
				    	<a class="page-number" href="?page={{ article_list.number|add:1 }}">{{ article_list.number|add:1 }}</a>
				    	<a class="page-number" href="?page={{ article_list.number|add:2 }}">{{ article_list.number|add:2 }}</a>
				    	<a class="page-number" href="?page={{ article_list.number|add:3 }}">{{ article_list.number|add:3 }}</a>
				    	<span class="space">&hellip;</span>
				    	<a class="page-number" href="?page={{ article_list.paginator.num_pages }}">{{ article_list.paginator.num_pages }}</a>
				    {% elif article_list.number = 2 %}
				    	<a class="page-number" href="?page={{ article_list.number|add:-1 }}">{{ article_list.number|add:-1 }}</a>
				    	<span class="page-number current">{{ article_list.number }}</span>
				    	<a class="page-number" href="?page={{ article_list.number|add:1 }}">{{ article_list.number|add:1 }}</a>
				    	<a class="page-number" href="?page={{ article_list.number|add:2 }}">{{ article_list.number|add:2 }}</a>
				    	<span class="space">&hellip;</span>
				    	<a class="page-number" href="?page={{ article_list.paginator.num_pages }}">{{ article_list.paginator.num_pages }}</a>
				    {% elif article_list.number = 3 %}
				    	<a class="page-number" href="?page={{ article_list.number|add:-2 }}">{{ article_list.number|add:-2 }}</a>
				    	<a class="page-number" href="?page={{ article_list.number|add:-1 }}">{{ article_list.number|add:-1 }}</a>
				    	<span class="page-number current">{{ article_list.number }}</span>
				    	<a class="page-number" href="?page={{ article_list.number|add:1 }}">{{ article_list.number|add:1 }}</a>
				    	<span class="space">&hellip;</span>
				    	<a class="page-number" href="?page={{ article_list.paginator.num_pages }}">{{ article_list.paginator.num_pages }}</a>
			    	{% elif article_list.number = article_list.paginator.num_pages %}
				    	<a class="page-number" href="?page=1">1</a>
				    	<span class="space">&hellip;</span>
				    	<a class="page-number" href="?page={{ article_list.number|add:-3 }}">{{ article_list.number|add:-3 }}</a>
				    	<a class="page-number" href="?page={{ article_list.number|add:-2 }}">{{ article_list.number|add:-2 }}</a>
				    	<a class="page-number" href="?page={{ article_list.number|add:-1 }}">{{ article_list.number|add:-1 }}</a>
				    	<span class="page-number current">{{ article_list.number }}</span>
				    {% elif article_list.number = article_list.paginator.num_pages|add:-1 %}
				    	<a class="page-number" href="?page=1">1</a>
				    	<span class="space">&hellip;</span>
				    	<a class="page-number" href="?page={{ article_list.number|add:-2 }}">{{ article_list.number|add:-2 }}</a>
				    	<a class="page-number" href="?page={{ article_list.number|add:-1 }}">{{ article_list.number|add:-1 }}</a>
				    	<span class="page-number current">{{ article_list.number }}</span>
				    	<a class="page-number" href="?page={{ article_list.number|add:1 }}">{{ article_list.number|add:1 }}</a>
				    {% elif article_list.number = article_list.paginator.num_pages|add:-2 %}
				    	<a class="page-number" href="?page=1">1</a>
				    	<span class="space">&hellip;</span>
				    	<a class="page-number" href="?page={{ article_list.number|add:-2 }}">{{ article_list.number|add:-2 }}</a>
				    	<span class="page-number current">{{ article_list.number }}</span>
				    	<a class="page-number" href="?page={{ article_list.number|add:1 }}">{{ article_list.number|add:1 }}</a>
				    	<a class="page-number" href="?page={{ article_list.number|add:2 }}">{{ article_list.number|add:2 }}</a>
			    	{% else %}
				    	<a class="page-number" href="?page=1">1</a>
				    	<span class="space">&hellip;</span>
				    	<a class="page-number" href="?page={{ article_list.number|add:-1 }}">{{ article_list.number|add:-1 }}</a>
				    	<span class="page-number current">{{ article_list.number }}</span>
				    	<a class="page-number" href="?page={{ article_list.number|add:1 }}">{{ article_list.number|add:1 }}</a>
				    	<span class="space">&hellip;</span>
				    	<a class="page-number" href="?page={{ article_list.paginator.num_pages }}">{{ article_list.paginator.num_pages }}</a>
			    	{% endif %}
			    {% endif %}
			      
			    {% if article_list.has_next %}
				    <a class="extend next" rel="next" href="?page={{ article_list.next_page_number }}">下一页 &raquo;</a>
			    {% else %}
				    <a class="next_disable_btn" rel="next" href="javascript:void(0);">下一页 &raquo;</a>
			    {% endif %}
	 		</nav>
	 		{% endif %}
	 	{% endif %}
	</div>
	<div id="asidepart">
		<aside class="clearfix">
			<div class="categorieslist">
				<p class="asidetitle" id="category_btn">分类</p>
				<ul>
					{% for category, counter in  category_counter.items %}
					<li><a href="{% url 'myblog:user_home_category' category.id %}" title="{{ category }}">{{ category }}<sup>{{ counter }}</sup></a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="tagslist">
				<p class="asidetitle" id="tag_btn">标签</p>
				<ul class="clearfix">
					{% for tag, counter in tag_counter.items %}
					<li><a href="{% url 'myblog:user_home_tag' tag.id %}" title="{{ tag }}">{{ tag }}<sup>{{ counter }}</sup></a></li>
					{% endfor %}
				</ul>
			</div>
		</aside>
	</div>
</dir>

{% endblock %}