#category_btn, #tag_btn {
  cursor: pointer;
}

.article {
    width: 100%;
    float: left;
    border: 1px solid #ddd;
    background: #fff;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in;
    padding-bottom: 5em;
}

.article.show {
	box-shadow: 2px 4px 5px rgba(3,3,3,0.2);
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    -ms-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
}

.article-inner {
    position: relative;
    margin-bottom: 20px;
}

.article-header {
    border-left: 5px solid;
    padding: 15px 0px 15px 25px;
    color: rgba(0,0,0,0.6)
}

.article-title {
    color: #696969;
    margin-left: 0px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 20px;
    font-size: 26px;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    transition: color 0.3s;
}

.article-info-post.article-info {
    padding: 0;
    border: none;
    margin: -38px 0 10px 0;
    padding: 0 0 10px 25px;
}

.article-tag {
    float: left;
}

.article-tag .article-tag-list {
    float: left;
}

.article-tag-list .article-tag-list-item {
    float: left;
}

.tagcloud a {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    color:  rgba(0,0,0,0.4);
    height: 18px;
    line-height: 18px;
    float: left;
    padding: 0 3px 0px 5px;
    position: relative;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    margin: 5px 3px 5px 3px;
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

.article-entry {
    line-height: 1.8em;
    padding-right: 30px;
    padding-left: 30px;
    margin: 4em 0 0 0;
}

#container {
  width: 95%;
  margin: 0 auto 1.5em;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  #container {
    width: 96%;
  }
}
@media only screen and (min-width: 1024px) {
  #container {
    width: 94%;
  }
}
@media only screen and (min-width: 1560px) {
  #container {
    width: 82%;
  }
}

#main {
  margin: 1em 0 0;
  line-height: 1.8;
}
@media only screen and (min-width: 1024px) {
  #main {
    margin: 3em 0;
    width: 73%;
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
  }
}

@media only screen and (min-width: 1024px)
#asidepart {
    box-shadow: 2px 4px 5px rgba(3,3,3,0.2);
    position: relative;
    float: left;
    width: 18%;
    margin: 3em 0 3em 3%;
    background: #fdfdfd;
}

.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

#asidepart {
  background: #fafafa;
  margin: 1em 0 0;
  padding: 0.5em 2% 1em;
}
@media only screen and (min-width: 1024px) {
  #asidepart {
    box-shadow: 2px 4px 5px rgba(3,3,3,0.2);
    position: relative;
    float: left;
    width: 18%;
    margin: 3em 0 3em 3%;
    background: #fdfdfd;
  }
}
.asidetitle {
  font-size: 1.1em;
  color: #2ca6cb;
  padding: 0 0 0.3125em 0;
  border-bottom: 0.1875em solid #ccc;
}
.asidetitle a {
  color: #2ca6cb;
}
.asidetitle a:hover {
  color: #4682b4;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
@media only screen and (min-width: 768px) {
  .categorieslist {
    width: 45%;
    float: left;
    margin: 0 5% 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .categorieslist {
    width: 100%;
    float: none;
    margin: 1em 0 0;
  }
}
.categorieslist li {
  border-bottom: 1px solid #ccc;
}
.categorieslist li a {
  display: block;
  padding: 0.5em 5%;
}
.categorieslist li a:hover {
  color: #4682b4;
}
.tagslist {
  margin: 1em 0 0;
}
@media only screen and (min-width: 768px) {
  .tagslist {
    width: 45%;
    float: left;
    margin: 0 5% 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .tagslist {
    width: 100%;
    float: none;
    margin: 1em 0 0;
  }
}
.tagslist ul {
  padding: 0.5em 0;
}
.tagslist ul li {
  float: left;
}
.tagslist ul li a {
  display: block;
  margin: 0.3125em;
  padding: 0.125em 0.3125em;
  background: #dbdbdb;
}
.tagslist ul li a:hover {
  color: #4682b4;
  background: #e6e6e6;
}
.rsspart {
  background: #4682b4;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .rsspart {
    float: left;
    width: 45%;
    margin: 0 5% 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .rsspart {
    width: 100%;
    float: none;
    margin: 1em 0 0;
  }
}
.rsspart a {
  color: #fff;
  display: block;
  padding: 0.625em 0;
  text-align: center;
}
.rsspart a:hover {
  color: #4682b4;
  background: #fafafa;
}
.rsspart a::before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.5em;
  content: "\f09e";
}
.archiveslist {
  padding-right: 1em;
}
@media only screen and (min-width: 1024px) {
  .archiveslist {
    width: 100%;
    float: none;
    margin: 1em 0 0;
  }
}
.archiveslist li {
  font-size: 0.8em;
  line-height: 2em;
}
.archiveslist li a {
  padding: 0.5em;
}
.archiveslist li a:hover {
  color: #4682b4;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.archiveslist .archive-list-count:before {
  content: "(";
}
.archiveslist .archive-list-count:after {
  content: ")";
}
.archive-list {
  padding: 0.5em 0;
}
.archive-float ul {
  padding: 0;
}
.archive-float li {
  float: left;
  margin: 0.3em;
}
@media only screen and (min-width: 1024px) {
  .archive-float li {
    float: none;
  }
}
@media only screen and (min-width: 768px) {
  .tagcloudlist {
    width: 45%;
    float: left;
    margin: 0 5% 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .tagcloudlist {
    width: 100%;
    float: none;
    margin: 1em 0 0;
  }
}
.tagcloudlist .tagcloudlist a {
  padding: 0.2em;
  display: block;
  float: left;
}
.tagcloudlist .tagcloudlist a:hover {
  color: #4682b4;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.linkslist {
  margin-top: 0.5em;
}
@media only screen and (min-width: 768px) {
  .linkslist {
    width: 45%;
    float: left;
    margin: 0 5% 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .linkslist {
    width: 100%;
    float: none;
    margin: 1em 0 0;
  }
}
.linkslist ul {
  padding: 0.5em 0;
}
.linkslist ul a {
  font-size: 1em;
  line-height: 1.5;
  display: block;
  padding: 0 3%;
}
.linkslist ul a:hover {
  color: #4682b4;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.categorieslist ol, 
.categorieslist ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family:  inherit;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: #817c7c;
}
a:hover,
a:focus {
  outline: 0;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.5s;
  -moz-transition: color 0.25s, background 0.5s;
  -o-transition: color 0.25s, background 0.5s;
  -ms-transition: color 0.25s, background 0.5s;
  transition: color 0.25s, background 0.5s;
}
a:hover:before {
  -webkit-transition: color 0.25s, background 0.5s;
  -moz-transition: color 0.25s, background 0.5s;
  -o-transition: color 0.25s, background 0.5s;
  -ms-transition: color 0.25s, background 0.5s;
  transition: color 0.25s, background 0.5s;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
  padding-left: 0.3em;
}
sub {
  bottom: -0.25em;
}