.article {
	margin: 3em 0;
    width: 73%;
    float: left;
   /* margin: 30px auto;*/
    /*position: relative;*/
    border: 1px solid #ddd;
    background: #fff;
    max-width: 1200px;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in;
    padding-bottom: 5em;
}

.article.show {
	box-shadow: 2px 4px 5px rgba(3,3,3,0.2);
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    -ms-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
}

.article-inner {
    position: relative;
    margin-bottom: 20px;
}

.article-header {
    border-left: 5px solid;
    padding: 15px 0px 15px 25px;
    color: rgba(0,0,0,0.6)
}

.article-title {
    color: #696969;
    margin-left: 0px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 20px;
    font-size: 26px;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    transition: color 0.3s;
}

.article-info-post.article-info {
    padding: 0;
    border: none;
    margin: -30px 0 10px 30px;
    padding: 0 0 10px 25px;
}

.article-tag {
    float: left;
}

.article-tag .article-tag-list {
    float: left;
}

ul {
    list-style: none;
    float: left;
}

.article-tag-list .article-tag-list-item {
    float: left;
}

.tagcloud a {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    color:  rgba(0,0,0,0.4);
    height: 18px;
    line-height: 18px;
    float: left;
    padding: 0 3px 0px 5px;
    position: relative;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    margin: 5px 3px 5px 3px;
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

.article-entry {
    line-height: 1.8em;
    padding-right: 30px;
    padding-left: 30px;
    margin: 3em 0 0 0;
    padding-bottom: 3em;
}

#container {
  width: 95%;
  margin: 0 auto 1.5em;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  #container {
    width: 96%;
  }
}
@media only screen and (min-width: 1024px) {
  #container {
    width: 94%;
  }
}
@media only screen and (min-width: 1560px) {
  #container {
    width: 82%;
  }
}
