{% load staticfiles %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'myblog/css/base.css' %}">
    {% block styles %}{% endblock %}
    
</head>
<body>
    <header>
        <div class="header_left logo">
            <div class="blog_name" >Yrh's Blog</div>
        </div>
        <div class="header_right login_wrap">
        	{% if request.session.logged_in_user %}
        	<ul>
	        	<li>
	            	<span>欢迎您，{{ request.session.logged_in_user.username }}</span>
	            </li>
	            <li class="logout">
	                <a href="{% url 'myblog:do_logout' %}">注销</a>
	            </li>
            </ul>
        	{% else %}
        	<ul>
	            <li class="login">
	                <a href="{% url 'myblog:login' %}">登录</a>
	            </li>
	            <li class="register">
	                <a href="{% url 'myblog:register' %}">注册</a>
	            </li>
            </ul>
            {% endif %}
        </div>
    </header>

    {% block content %}{% endblock %}
</body>

<script type="text/javascript" src="{% static 'myblog/js/jquery/jquery-1.12.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'myblog/js/base.js' %}"></script>
{% block scripts %}{% endblock %}

</html>